<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>
  <form class="form-inline" action="/delete" method="post">
    <div class="form-row ml-auto"></div>
        <button class="btn btn-danger btn-small" type="submit">Remove Post</button>
        <input type="hidden" name="deleteItem" value=<%= id %>>
    </div>
</form>


<%- include("partials/footer"); -%>
